<% if notice %>
<aside class="notification is-primary"><%= notice %></aside>
<% end %>

<h1>Products</h1>

<table class="table">
  <tbody>
    <% @products.each do |product| %>
    <tr class="<%= cycle('is-selected', '') %>">
      <td class="image is-128x128"> <%= image_tag(product.image_url, class: 'is-rounded') %>
      </td>
      <td class="description"> <h1><%= product.title %></h1>
      <p> <%= truncate(strip_tags(product.description), length: 80) %> </p>
      </td>
      <td class="actions">
        <ul>
          <li><%= link_to 'Show', product %></li>
          <li><%= link_to 'Edit', edit_product_path(product) %></li>
          <li>
          <% if %>
          <%= button_to 'Destroy', product, method: :delete, data: { turbo_confirm: 'Are You Sure You want to delete this product?' } %>
          <% end %>
          </li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
      <%= link_to 'New Product', new_product_path %>
      </td>
    </tr>
  </tfoot>
</table>

